.pagehead {
  // background-color: $body-font-color;
  // color:$body-background;
  // padding-top:2rem;
  // padding-bottom: 2rem;
}
.pagehead__title {
  font-size: 1.5rem;
  line-height: 1;
  margin:0;
  color:inherit;
}
.prettytitle {
  position: relative;
  color: inherit;
  //font-weight: $global-weight-bold;
  margin:0 0 1em;
  line-height: 1.1;
  font-size: 1.25rem;
  @include breakpoint(tablet) {
      font-size: 1.666rem;
  }
  @include breakpoint(large) {
      font-size: 2rem;
  }
  @include breakpoint(xlarge) {
      font-size: 2.25rem;
  }
  @include breakpoint(xxlarge) {
      font-size: 2.5rem;
  }
  small {
    margin-top: .125em;
    font-family: $sans-serif;
    display: block;
    font-weight: $global-weight-normal;
    font-size: 75%;
    color:inherit;
    line-height: 1.2;
    animation-delay: .5s;
  }
  span {
    color:$primary-color;
  }

  .ps--accent &{
    color:inherit;
    span {
      color:$black;
    }
  }

  &:after {
    margin-top: 1em;
    content:'';
    display: block;
    width: 1.5em;
    height: .25em;
    background-color: map-get($foundation-palette, alert);
    .ps--dark & {
      background-color: $primary-color;
    }
    .ps--accent & {
      background-color: $body-font-color;
    }
  }
}

.prettytitle--centered {
  text-align: center;
  &:after {
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  margin-bottom: 3rem;
}

.card__illustration {
  margin:0 0 1rem;
  padding:0;
  a {
    display: block;
    filter: saturate(2.875) grayscale(.875);
    transition: filter .2s;
    [data-whatinput=mouse] & {
      outline:0;
    }
    &:hover, &:focus {
      filter: saturate(1) grayscale(0);
    }
  }

  img {
    display: block;
  }
}

.card__title {
  //color:black;
  padding:0 8%;
  .card--narrow & {
    @include breakpoint(large) {
      font-size: 1.25rem;
    }
  }
  .card--simple & {
    padding:0;
  }
  a {
    color:inherit;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}

.card__text {
  padding:0 8%;
  font-size: .875rem;

  .card--narrow & {
    @include breakpoint(large) {
      font-size: .75rem;
    }
    @include breakpoint(xlarge) {
      font-size: .875rem;
    }
  }
  .card--simple & {
    padding:0;
  }
}


.projectcontent {
  > p:first-child{
    font-size: .875rem;
    line-height: 1.4;
  }
}
.projectnav {
  @include clearfix();
  //border-top: 1px solid $light-gray;
  margin-top: 1.5rem;
  //padding-top: .5rem;
  font-size: .666rem;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;
  a {
    display: inline-block;
    color: inherit;
    &:hover, &:focus {
      color:$primary-color;
    }
  }

  a[rel=next] {
    //float:right;
    //margin-left: 1rem;
  }

  .icon {
    display: inline-block;
    font-size: .666em;
  }
}

.wstarter {
  &:hover, &:focus {
    outline:none;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
}

.plist {
  display: none;
}
