.mainelem {
  fill: map-get($foundation-palette, alert);
}
.subelem {
  fill: #fff;
}

.projectcontent {
  span {
    color:$primary-color;
  }
}

.button, button {
  font-weight: $global-weight-bold;
}
.button.hollow {
  border-left: transparent !important;
  border-right: transparent !important;
  border-top: transparent !important;
  font-weight: 400;
}
.contactform {
  .row {
    margin-bottom: 1rem;
  }

  .button.hollow {
    border-color: currentColor !important;
    padding-bottom: .5em;

    &:hover, &:focus {
      color:$white;
    }
    &[type=reset] {
      padding-left: 1px;
      padding-right: 12.5%;
    }
    &[type=submit] {
      padding-right: 1px;
      padding-left: 12.5%;
    }
  }

}
[type=color],
 [type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
  border-bottom: 1px solid currentColor;
  font-weight: $global-weight-bold;
  padding:.25em 0;
  line-height: 1.4;
  margin-bottom: .75rem;
  &:focus {
    border-bottom: 1px solid currentColor;
  }

  &.filled {
    border-bottom: 1px solid currentColor;
    box-shadow: 2px 3px 0 -2px #000,-2px 3px 0 -2px #000;
  }
}

textarea {
  background-color: $black;
  color:$white;
  border-bottom:none;
  padding:3rem 15%;
  &:focus {
    background-color: $black;
    border-bottom: none;
  }
}

// input, textarea {
//   &::-webkit-input-placeholder,
//   &::-moz-placeholder,
//   &:-ms-input-placeholder,
//   &::placeholder {
//     font-weight: 400;
//   }
// }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-weight: 400;
  transition:all .25s;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-weight: 400;
  transition:all .25s;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-weight: 400;
  transition:all .25s;
}
input::placeholder, textarea::placeholder {
  font-weight: 400;
  transition:all .25s;
}

textarea::-webkit-input-placeholder { color:$white; font-weight: $global-weight-bold; }
textarea::-moz-placeholder { color:$white; font-weight: $global-weight-bold; }
textarea:-ms-input-placeholder { color:$white; font-weight: $global-weight-bold; }
textarea::placeholder { color:$white; font-weight: $global-weight-bold; }


input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color:transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color:transparent;
}
input:focus::placeholder, textarea:focus::placeholder {
  color:transparent;
}

.button {
  //font-family: $serif;
  //font-weight: $global-weight-bold;
}

blockquote, blockquote p {
  //font-family: $serif;
  font-size: 1.666rem;
  //font-style: italic;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}


figure {
  margin: 0 auto 2rem;
  max-width: 100%;
  height: auto;
  p + &, ul + &, ol + & {
    margin-top: 2rem;
  }
}

figcaption {
  font-family: $serif;
  //font-style: italic;
  //color:$primary-color;
  padding-top: .5em;
  font-size: .875rem;
  text-align: center;
  opacity: .75;
}

.lead {

  font-size: 112.5%;
  @include breakpoint(tablet) {
    font-size: 125%;
  }

}


h1, h2, h3, h4, h5, h6 {
  p + &, ul + &, ol + &, blockquote + & {
    margin-top: 2rem;
  }

  .page .content & {
    @include breakpoint(tablet) {
      @include grid-col;
      @include grid-col-pos(-4);
      @include grid-col-size(4);
      position: absolute;
      margin-top: .125rem;
      & + p {
        //margin-top: 2.5rem;
      }
    }
    @include breakpoint(xlarge) {
      @include grid-col-pos(-3);
      @include grid-col-size(3);
      position: absolute;
    }

    &:after {
      margin-top: .5em;
      content:'';
      display: block;
      width: 1.5rem;
      height: .25rem;
      background-color: map-get($foundation-palette, alert);
    }
  }
}

.page .content {

}