.siteinfo {
  .icon {
    fill: map-get($foundation-palette, primary);
    //fill: #fff;
    width:21rem;
    height:5.25rem;
    //background-color: red;
    margin-bottom: 3rem;
    max-width: 100%;
    //vertical-align: top;
    //height:auto;
  }
  p {
    max-width: 36em;
  }
}
.fsocials {
  list-style-type: none;
  margin:0;
  padding:0;
  > li {
    display: inline-block;
    margin: 0 .25rem;
    > a {
      display: inline-block;
      font-size: 2.25rem;
    }
  }

}


.sitefooter {
  font-size: .875rem;
  font-weight: $global-weight-bold;
  span {
    color: $black;
  }
}


.sitefooter__socials {
  margin:0;
  padding:0;
  list-style-type: none;
  transform:translateY(-.5rem);
  li {
    display: inline-block;
    a {
      color: $primary-color;
      svg {
        width:1.666rem;
        height:1.666rem;
        margin-right:.5rem;
        fill: currentColor;
      }
    }
  }
}