html {
  overflow-y: scroll;
  //background-color: $primary-color;
  @include breakpoint(ultralarge) {
    font-size: 112.5%;
  }
}
body {
  // @include breakpoint(xxlarge) {
  //   font-size: 112.5%;
  // }
}

//.row hack

.row {
  @include breakpoint(tablet) {
    padding-left: 2%;
    padding-right: 2%;
    & & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include breakpoint(large) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @include breakpoint(xlarge) {
    padding-left: 6%;
    padding-right: 6%;
  }
  @include breakpoint(xxlarge) {
    padding-left: 7%;
    padding-right: 7%;
  }

}



.document {
  //margin-top: -90px;
  //position: relative;
  //min-height: calc(100vh - 4rem);
  transition: opacity .4s linear;
  &.docfade {
    opacity: 0;
    .no-js &{
      opacity:1;
    }
  }

  //imagehed negativ
  .page-template-tmpl-home & {
    margin-top: -90px;
  }

}
.pageheader {
  position: relative;
}

.ps {
  overflow: hidden;
  padding-top: 11vh;
  padding-bottom: 11vh;
}
.ps--narrow {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ps--full{
  min-height: calc(100vh - 4rem);
}


.ps--dark {
  background-color: $dark-gray;
  color:$white;
  a {
    color: map-get($foundation-palette, alert);
    &:hover, &:focus {
      color: map-get($foundation-palette, primary);
    }
  }
}

.ps--accent {
  background-color: map-get($foundation-palette, warning);
  color:$dark-gray;
  a {
    &:hover, &:focus {
    }
  }
}


.overexp {
  margin-left: -.625rem;
  margin-right: -.625rem;
  @include breakpoint(large) {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
  }
}
.works {
  background-color: $white;
  //background-color: $black;
  overflow:hidden;
}

.ps.stylist {

  padding-top: 0;
  min-height: calc(100vh - 3.5rem);
}

.styleist__title {
  font-weight: $global-weight-bold;
  color:$white;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top:5vh;
  margin-left: 26%;

  //background-color: red;
  height:1em;
  width:11rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('../images/inspired.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.styleist__text {
  padding-left: 16rem;
}


article.sticky {
  position: static;
  z-index: auto;
  transform: none;
}
