body > .sticky-container {
    min-height: 7.5rem;
}

.top-bar {
    z-index: 5;

    width: 100%;
    &.is-open {
        @media screen and (max-width: map-get($breakpoints, tablet) ) {
            // border-bottom: 1px solid rgba($light-gray,.5);
            // background-color: rgba(#fff, .9);
            // position: fixed;
            // z-index: 5;
        }
    }
    &.is-stuck {
        border-bottom: 1px solid rgba($light-gray,.125);
        background-color: rgba($dark-gray,.95);
    }
}

.top-bar-title {
    @include breakpoint(tablet) {
    }
}
.top-bar-right {
    @include breakpoint(tablet) {
        float: right;
    }

    float: none;
}

.responsive-menu {
    @include breakpoint(tablet) {
        display: block;
        clear: none;
    }

    display: none;
    clear: both;
    .page-template-tmpl-landing & {
        display: none !important;
    }
}

.menu--main {
    font-weight: 400;

    text-align: center;
    > li {
        display: block;
        float: left;

        width: 50%;

        &.active {
            > a {
                &:after {
                    position: absolute;
                    bottom: .875rem;
                    content:'';
                    display: block;
                    left:.875rem;
                    //right:.875rem;
                    width:1rem;
                    height: .2rem;
                    background-color: map-get($foundation-palette, alert);
                }
            }
        }
        @include breakpoint(tablet) {
            display: table-cell;
            float: none;

            width: auto;
        }
        > a {
            position: relative;
            transition: all .2s;
            white-space: nowrap;
            color:#fff;
            font-weight: $global-weight-bold;
            &:hover, &:focus {
                color: map-get($foundation-palette, alert);
            }
        }


    }
}

.top-bar .menu--main {
    @include clearfix();
    @include breakpoint(tablet) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.top-bar.is-stuck .menu--main {
    @include breakpoint(tablet) {
        padding: 0;
    }
}
.homelogo {
    display: block;

    padding-top: 1.25rem;
    padding-bottom: .75rem;
    .top-bar.is-stuck & {
        padding: .5rem 0 0 0;
    }
}
.homelogo__img {
    width: 3.25rem;
    height: 3.25rem;
    @include breakpoint(tablet) {
        width: 4.666rem;
        height: 4.666rem;
    }
    .top-bar.is-stuck & {
        width: 3rem;
        height: 3rem;
    }
}

.top-bar-userthings {
    position: absolute;
    top: 0;
    right: 60px;
    @include breakpoint(tablet) {
        position: static;
        float:right;
        margin-left: 1.333rem;
    }
    .button {
        margin:1.875rem 0 0;
        @include breakpoint(tablet) {
            margin-top: 2.5rem;
        }
        .top-bar.is-stuck & {
            margin:1rem 0 0;
        }
    }
}

.csiki {

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 90px;
    height: 90px;
    padding: 2.125rem 0 0 3.25rem;
    .top-bar.is-stuck & {
        //width: 60px;
        height: 60px;
        padding: 1.125rem 0 0 3.25rem;
    }

    @include breakpoint(tablet) {
        display: none;
    }
}
