body > .sticky-container {
    min-height: rem-calc(90);
}

.top-bar {
    width: 100%;
    z-index: 5;
    &.is-open {
        @media screen and (max-width: map-get($breakpoints, tablet) ) {
            // border-bottom: 1px solid rgba($light-gray,.5);
            // background-color: rgba(#fff, .9);
            // position: fixed;
            // z-index: 5;
        }
    }
    &.is-stuck {
        border-bottom: 1px solid rgba($light-gray,.5);
        background-color: rgba(#fff,.9);
    }
}

.top-bar-title {
    @include breakpoint(tablet) {
    }
}
.top-bar-right {
    @include breakpoint(tablet) {
        float: right;
    }

    float: none;
}

.responsive-menu {
    @include breakpoint(tablet) {
        display: block;
        clear: none;
    }

    display: none;
    clear: both;
    .page-template-tmpl-landing & {
        display: none !important;
    }
}

.menu--main {
    font-weight: 400;

    text-align: center;
    > li {
        @include breakpoint(tablet) {
            display: table-cell;
            float: none;

            width: auto;
        }

        display: block;
        float: left;

        width: 50%;
        > a {

            transition: all .2s;
            white-space: nowrap;

            &.active {
                &:hover {
                    cursor: default;

                }
            }
            &:hover {

            }
            .top-bar.is-stuck & {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }
}

.top-bar .menu--main {
    @include clearfix();
}

.homelogo {

    font-size: 1.75rem;
    font-weight: $global-weight-bold;
    line-height: 90px;
    text-align: left;

    display: block;
    //width:10rem;
    // text-indent: 100%;
    // white-space: nowrap;
    overflow: hidden;
    //background-color: red;

    height: 90px;

    color: $black;
    // background-image: url('../images/spire.svg');
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    // background-position: center 40%;
    .top-bar.is-stuck & {
        font-size: 1.5rem;
        line-height: 60px;

        height: 60px;
    }

}
.homelogo__img {
    width:4rem;
    height:4rem;
    margin-top: 1rem;
    .mainelem {
        fill: red; //map-get($foundation-palette, alert);
    }
    .top-bar.is-stuck & {
        width:3rem;
        height:3rem;
        margin-top: .333rem;
    }
}

.csiki {
    @include breakpoint(tablet) {
        display: none;
    }

    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 90px;
    height: 90px;
    padding: 2.125rem 0 0 3.25rem;

    .top-bar.is-stuck & {
      padding: 1.125rem 0 0 3.25rem;
      //width: 60px;
      height: 60px;
    }
}
