@import "settings";
@import "../../bower_components/foundation-sites/scss/foundation.scss";
@include foundation-everything;


body.login {
  background-color: map-get($foundation-palette, warning);
  background-color: $dark-gray;
  background-size: cover;
  background-position: center 28%;
  background-repeat: no-repeat;
  background-image: url(../images/jelmezesek.jpg);
  div#login {
    h1 {
      a {
        background-image: url('../images/hp.svg');
      }
    }
    form#loginform {
      //background-color: map-get($foundation-palette, warning);
      p {}
      p label {}
      input {}
      input#user_login {}
      input#user_pass {}
      p.forgetmenot {}
      p.forgetmenot input#rememberme {}
      p.submit {}
      p.submit input#wp-submit {}
    }
    p#nav {
      text-align: center;
      color:#fff;
      font-size: 1rem;
      a {
        color:inherit;
        &:hover, &:focus {
          color: map-get($foundation-palette, alert);
        }
      }
    }
    p#backtoblog {
      text-align: center;
      font-weight: $global-weight-bold;
      color: map-get($foundation-palette, alert);
      a {
        color:inherit;
      }
    }
    p#backtoblog a {}
  }
}